<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Immagini Profilo Disponibili</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        h1 {
            text-align: center;
        }
        ul {
            list-style-type: none;
            padding: 0;
        }
        li {
            margin: 10px;
            text-align: center;
        }
        img {
            max-width: 100px;
            max-height: 100px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }
    </style>
</head>
<body>
	<!-- Begin Body -->
    <h1>Immagini Profilo Disponibili</h1>
    
    <ul>
      	<!-- List of profile images -->
        <li th:each="img : ${images}">
            <img th:src="${img.imgPath}" alt="Immagine Profilo" />
        </li>
    </ul>
    <!-- End of Body -->
</body>
</html>
