<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conferma Cancellazione Mazzo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <!-- navBar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080">
            <img src="/logo.png" alt="Logo" width="150" height="50" class="d-inline-block align-text-top"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/cards">Carte</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/decks">Mazzi</a>
                </li>
				<li>
                    <a class="nav-link" href="http://localhost:8080/profile">Profilo</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8080/deckRules">Regolamento</a>
                </li>
            </ul>
            <div class="ms-auto d-flex align-items-center">

                <a class="nav-link" href="http://localhost:8080/profile" th:text="'Benvenuto, ' + ${session.name}" style="margin-right: 15px;">User</a>
                
                <a href="http://localhost:8080/logout" class="btn btn-outline-danger" style="transition: background-color 0.3s, color 0.3s;">Logout</a>
            
            </div>
        </div>
    </div>
</nav>
<!-- navBar -->

    <div class="container mt-5">
        <h1>Conferma Cancellazione Mazzo</h1>
        <h2>Sei sicuro di voler cancellare il mazzo: <span th:text="${deck}"></span>?</h2>

        <form th:action="@{/decks/deletedeck/{deckId}(deckId=${deckId})}" method="post">
            <input type="hidden" name="deckId" th:value="${deckId}" />

            <div class="form-group">
                <button type="submit" name="confirm" value="true" class="btn btn-danger">Conferma Cancellazione</button>
                <button type="submit" name="confirm" value="false" class="btn btn-secondary">Annulla</button>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>

</html>