<!DOCTYPE html>
<html lang="it">
<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accesso/Registrazione</title>
  <link rel="icon" sizes="48x48" href="/icona_pokedecks.ico">
  <link rel="stylesheet" href="/style/style.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Begin body -->
<!-- Begin home section -->
  <section class="sezione-homepage" id="sezione-accesso">
    <div>
      <div class="menu-lingua">
        <a href="javascript:void(0);" data-translate="menuLingua"></a>
        <div class="opzioni-lingua" >
            <a href="javascript:void(0);" onclick="changeLanguage('it')"><img src="/image/bandiera-italia.png" alt="Italiano" class="bandiera" data-translate="italiano">Italiano</a>
            <a href="javascript:void(0);" onclick="changeLanguage('en')"><img src="/image/bandiera-uk.png" alt="English" class="bandiera" data-translate="inglese">English</a>
            <a href="javascript:void(0);" onclick="changeLanguage('es')"><img src="/image/bandiera-spagna.png" alt="Español" class="bandiera" data-translate="spagnolo">Español</a>
        </div>

      </div>
    </div>
    <!-- Begin alert -->
    <div th:if="${param.logout}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
     		<p>Logout effettuato con successo.</p>
     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          	</button>
    </div>
    <div th:if="${success}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
          <p>Cambio password effettuato con successo.</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
    </div>
    <div th:if="${exist}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
     		<p>La mail esiste già, prova con un'altra.</p>
     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          	</button>
    </div>
    <div th:if="${passInvalid}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
     		<p>Password non valida. Servono: minimo 8 caratteri, una maiuscola, una minuscola, un numero e un carattere speciale.</p>
     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          	</button>
    </div>
    <div th:if="${regiSuccess}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
          <p>Registrazione effettuata con successo, ora fai il login.</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
    </div>
    <div th:if="${wrongPass}" class="alert alert-danger alert-dismissible fade show text-center" role="alert">
     		<p>Password e/o mail sbagliate.</p>
     		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          	</button>
    </div>
    <div th:if="${loginSuccess}" class="alert alert-success alert-dismissible fade show text-center" role="alert">
          <p>Login effettuato con successo.</p>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
          </button>
    </div>
    <!-- End alert -->
    <div id="sidebar" class="open">
            <div class="text-center">
                 <!-- Button to open/close the sidebar -->
                <div class="toggle-btn" onclick="toggleSidebar()">&#9664;</div>
            </div>
            <!-- User section: shows username and logout button if the user is logged in -->
            <div th:if="${session.name}!=null" class="ms-auto utente sidebar-content" >
            	
		        <div class="ms-auto d-flex align-items-center">
		
		            <a class="nav-link" href="http://localhost:8080/profile" th:text="'Benvenuto, ' + ${session.name}" style="margin-right: 15px;">User</a>
		            
		            <a href="http://localhost:8080/logout" class="btn btn-outline-danger" style="transition: background-color 0.3s, color 0.3s;">Logout</a>
		        
		        </div>
		    </div>
		    
            <!-- Application logo and slogan -->
            <div class="logo-container sidebar-content">
                <img id="immagine-logo-app" src="/image/nome-applicazione.png" alt="PokeDecks" class="img-fluid logo">
                <img id="immagine-slogan" src="/image/slogan-italiano.png" alt="slogan-PokeDecks" class="img-fluid mt-3">
            </div>
            <p id="introduzione-app" class="sidebar-content" data-translate="slogan"></p>
            <!-- Container for login and registration buttons if the user is not logged in -->
            <div th:if="${session.name}==null" class="container-bottoni-accesso sidebar-content">
		        <a href="javascript:void(0);" class="bottone-accesso " data-translate="accesso" onclick="toggleSidebar2()"></a>
		        <a href="javascript:void(0);" class="bottone-accesso" data-translate="registrati" onclick="toggleSidebar3()"></a>
		      </div>
            <div class="container-social mt-4 d-flex justify-content-around w-100 sidebar-content">
                <a href="https://it.linkedin.com/company/kedos-srl"><img id="icona-linkedin" src="/image/linkedin.png" alt="linkedin"></a>
                <a href="https://www.instagram.com/kedos.srl/"><img id="icona-instagram" src="/image/instagram.png" alt="instagram"></a>
                <a href="https://www.facebook.com/p/Kedos-Srl-100078119546036/"><img id="icona-facebook" src="/image/facebook.png" alt="facebook"></a>
                <a href="https://www.tiktok.com/login"><img id="icona-tiktok" src="/image/tiktok.png" alt="tiktok"></a>
            </div>
        </div>
    
      <div class="container-bottoni-menu">
        <a href="#sezione-accesso" class="bottone-menu" data-translate="accessoBottone"></a>
        <a href="#sezione-regole-gioco" class="bottone-menu" data-translate="giocoBottone"></a>
        <a href="#sezione-funzionalita" class="bottone-menu" data-translate="funzioniBottone"></a>
        <a href="#sezione-link" class="bottone-menu" data-translate="link"></a>
        <a th:if="${session.name}!=null" href="http://localhost:8080/decks" class="bottone-menu" data-translate="decks"></a>
        <a th:if="${session.name}!=null" href="http://localhost:8080/cards" class="bottone-menu" data-translate="cards"></a>
        <a th:if="${session.name}!=null" href="http://localhost:8080/profile" class="bottone-menu" data-translate="profilo"></a>
        <a th:if="${session.name}!=null" href="http://localhost:8080/deckRules" class="bottone-menu" data-translate="regolamento"></a>
      </div>
    </div>
    <div th:if="${session.name}==null" id="sidebar2" class="sidebar closed2">
      <div class="sidebar-content2 text-center">
	    <div class="p-4">
		    <div class="form-contenuto">
	          <h2 class="text-center" data-translate="accesso"></h2>
	          <p class="text-center" data-translate="mail-password"></p>
	          <form th:action="@{/login}" method="post">
	          	<div class="mb-3">
			        <label for="email" class="form-label">Email    </label>
				    <input type="text" class="form-control" id="email" name="email"  required>
				</div>
	            <div class="mb-3">
			        <label for="password" class="form-label">Password</label>
				    <input type="password" class="form-control" id="password" name="password"  required>
            	</div>
            	<button type="submit" class="btn btn-primary w-100" data-translate="accesso"></button>
            </div>
            <div class="d-flex justify-content-between mt-3 container-bottoni-registrazione1">
            <button type="button" class="bottone-chiudi" onclick="toggleSidebar2()">Chiudi</button>
	            <a href="/oauth2/authorization/google" class="bottone-google">Login con Google</a>
	        </div>
          </form>
        </div>
      </div>
    </div>
    
    <div th:if="${session.name}==null" id="sidebar3" class="sidebar closed3">
      <div class="sidebar-content2 text-center">
	    <div class="p-4">
		    <div class="form-contenuto">
	          <h2 class="text-center" data-translate="registrati"></h2>
	          <p class="text-center" data-translate="registrazione-nuova"></p>
	          <form action="/register" method="post">
	          	<div class="mb-3">
			        <label for="name" class="form-label">Nickname</label>
	            	<input type="text" class="form-control" id="name" name="name" required>
	            <div class="mb-3">
			        <label for="email" class="form-label">Email</label>
	            	<input type="email" class="form-control" id="email" name="email"  required>
	            </div>
	            <div class="mb-3">	
	            	<label for="password" class="form-label">Password</label>
	            	<input th:text="${exist}" type="password" class="form-control" id="password" name="password" required>
            	</div>
            
            	<button type="submit" class="btn btn-primary w-100" data-translate="registrati"></button>
            </div>
            <div class="d-flex justify-content-between mt-3 container-bottoni-registrazione2">
            <button type="button" class="bottone-chiudi" onclick="toggleSidebar3()">Chiudi</button>
	            <a href="/oauth2/authorization/google" class="bottone-google">Login con Google</a>
	        </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End home section -->
	<!-- Begin rule section -->
  <section class="sezione-regole-gioco" id="sezione-regole-gioco">
  	<div class="contenitore-interno">
        <div class="testo-container">
            <a href="https://www.pokemon.com/it/gcc/regolamento"><h2 data-translate="giocoBottone"></h2></a>
            <p data-translate="storia-pokemon"></p>
        </div>
        <div class="immagine-container">
            <img src="/image/Giochi-pokémon.jpg" alt="Immagine Gioco" class="immagine-gioco" width="510px" height="400px">
        </div>
    </div>
  </section>
  <!-- End rule section -->
  <!-- Begin function section -->
  <section class="sezione-funzionalita" id="sezione-funzionalita">
  	<div class="contenitore-interno">
        <div class="testo-container">
            <h2 data-translate="funzioniBottone"></h2>
            <p data-translate="funzioni"></p>
        </div>
        <div class="immagine-container">
            <img src="/image/raccoglitore-pokemon2.png" alt="Immagine Gioco" class="immagine-gioco" width="460px" height="400px">
        </div>
    </div>
  </section>
  <!-- End function section -->
  <!-- Begin link section -->
  <section class="sezione-link" id="sezione-link">
  		<div class="container-social2">
            <a href="https://it.linkedin.com/company/kedos-srl"><img id="icona-linkedin" src="/image/linkedin.png" alt="linkedin"></a>
            <a href="https://www.instagram.com/kedos.srl/"><img id="icona-instagram" src="/image/instagram.png" alt="instagram"></a>
            <a href="https://www.facebook.com/p/Kedos-Srl-100078119546036/"><img id="icona-facebook" src="/image/facebook.png" alt="facebook"></a>
            <a href="https://www.tiktok.com/login"><img id="icona-tiktok" src="/image/tiktok.png" alt="tiktok"></a>
        </div>
  </section>
  <!-- End link section -->
  <!-- Begin script -->
  <script src="/script/traduzioni.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
  <script>
        // Function to open and close the sidebar
        function toggleSidebar() {
            const sidebar = document.getElementById('sidebar');
            const toggleBtn = document.querySelector('.toggle-btn');
            
            sidebar.classList.toggle('open');
            // If the sidebar is open, show the left arrow, otherwise show the right arrow
            if (sidebar.classList.contains('open')) {
                toggleBtn.innerHTML = '&#9664;'; 
                sidebar.classList.remove('closed');
            } else {
                toggleBtn.innerHTML = '&#9654;';
                sidebar.classList.add('closed');
            }
        }

        // Fixed sidebar only on section 1
        window.addEventListener('scroll', function() {
            const sidebar = document.getElementById('sidebar');
            const firstSection = document.querySelector('.sezione-1');
            const scrollTop = window.scrollY;

         	// If scrolling past section 1, the sidebar does not move
            if (scrollTop > firstSection.offsetHeight) {
                sidebar.style.display = 'none'; 
            } else {
                sidebar.style.display = 'block'; 
            }
        });
     	// Function to toggle sidebar 2
        function toggleSidebar2() {
            var sidebar = document.getElementById("sidebar2");
            
            if (sidebar.classList.contains("closed2")) {
                sidebar.classList.remove("closed2");
                sidebar.classList.add("open2");
            } else {
                sidebar.classList.remove("open2");
                sidebar.classList.add("closed2");
            }
        }
     	// Function to toggle sidebar 3
        function toggleSidebar3() {
            var sidebar = document.getElementById("sidebar3");
            
            if (sidebar.classList.contains("closed3")) {
                sidebar.classList.remove("closed3");
                sidebar.classList.add("open3");
            } else {
                sidebar.classList.remove("open3");
                sidebar.classList.add("closed3");
            }
        }
    </script>
    <!-- End script -->
    <!-- End body -->
</body>
</html>