<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Profilo Utente</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<style>

/* Centrale tutto il contenuto */
.card-body 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Distanziare le carte tra di loro */
ul 
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px; /* Spazio tra le carte */
    list-style-type: none;
    padding: 0;
}

/* Dimensioni uniformi per le sezioni */
.deck-item img 
{
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    margin-top: 30px;
}

/*allinea il testo all'interno del paragrafo */
.deck-item p {
    text-align: center;
}

/*setta del margine-alto al contenitore*/
.card-title
{
	margin-top: 10px;
}

/* Ingrandisce l'immagine del 20% */
.img-thumbnail:hover 
{
    transform: scale(1.2); 
}


</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="http://localhost:8080">
            <img src="/logo.png" alt="Logo" width="150" height="50" class="d-inline-block align-text-top"> 
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <!-- Ancora che mi rimanda alla pagina Mazzo -->
                <li class="nav-item">
                    <a class="nav-link" href="http://localhost:8080/decks">Mazzi</a>
                </li>
            </ul>
            <div class="ms-auto"> 
            <!-- Ancora che mi rimanda al login e regsistrazione-->
                <a href="http://localhost:8080/login" class="btn btn-outline-success me-2">Login</a>
                <a href="http://localhost:8080/register" class="btn btn-primary">Registrati</a>
            </div>
        </div>
    </div>
</nav>


<!-- Container centrale per il layout -->
<div class="container mt-5">
<!-- Titolo dove c'è scritto il nome utente e id utente -->
    <h1 class="text-center">Profilo di <span th:text="${username}"></span></h1>
    <h4 class="text-center">Id: <span th:text="${id}"></span></h4>
    
    <!-- Container dove all'interno c'è lo starter preferito scelto dall'utente come immagine profilo -->
    <div class="row mt-4">
      <div class="col-md-6">
       <div class="card text-center">
        <div class="card-body">
            <h3 class="card-title">Immagine del Profilo</h3>
            <img th:src="${userImg.imgPath}" alt="Immagine del Profilo" class="img-fluid rounded-circle" style="max-width: 200px;">
        </div>
    </div>
</div>

<!-- Lista di starter selezionabili -->
<div class="col-md-6">
    <div class="card">
       <div class="card-body">
          <h3 class="card-title">Scegli il tuo Starter preferito</h3>
             <form th:action="@{/profile}" method="post">
			    <div class="form-group">
			      <div class="d-flex flex-wrap" style="justify-content: center;">
			        <!-- Ciclo per le immagini -->
			         <label class="m-2" th:each="image : ${starterImages}">
			            <!-- Le immagini vengono rese cliccabili -->
			            <input type="radio" name="selectedImage" th:value="${image.getId}" class="d-none">
			            <!-- Si riferisce a tutte le immagini-->
			            <img th:src="${image.imgPath}" alt="Starter" class="img-thumbnail" style="width: 150px; height: 150px;">
			         </label>
			       </div>
			       </div>
				    <br>
				    <!-- Quando salva, l'immagine profilo si aggiorna con lo starter selezionato -->
				    <button type="submit" class="btn btn-primary" style="margin-left: 263px;">Salva</button>
				</form>
				</div>
            </div>
        </div>
    </div>
    
<div class="card-body">
    <h3 class="card-title">Deck creati</h3>
    <ul>
        <!-- Cicla i deck creati -->
        <li th:each="deck : ${userDecks}">
            <!-- Div per organizzare immagine e nome del deck -->
            <div class="deck-item">
                <!-- Mostra l'immagine del deck -->
                <a th:href="@{/decks/yourdeck/1/{deckId}(deckId=${deck.id})}"><img th:src="@{/mazzisfondo.jpg}" alt="Deck Image"></a>
                <!-- Mostra il nome del deck sotto l'immagine -->
                <p th:text="${deck.nameDeck}"></p>
            </div>
        </li>
    </ul>
</div>


    <!-- Container dove all'interno ci sono informazioni aggiuntive sull'utente -->
    <div class="row mt-4">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Dettagli Utente</h3>
                    <p>Email: <span th:text="${email}"></span></p>
                </div>
            </div>
        </div>
    </div>
</div>


    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

